@model IEnumerable<Fashion_shop.Models.Voucher>
@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="css/View/Users/Index.css">
<h1>Thông tin voucher</h1>

<button class="create-button">
    <a asp-action="Create" style="text-decoration: none; color: white;">Thêm voucher</a>
</button>
<div style="height: 10px;"></div>
<table class="table">
    <thead>
        <tr>
            <th> Tên</th>
            <th> Ngày bắt đầu </th>
            <th> Ngày kết thúc </th>
            <th> Số lượng </th>
            <th> Giảm giá </th>
            <th> Cài đặt </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_dates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td style="width:160px">
                    <button class="highlight" onclick="location.href='@Url.Action("Edit", new { id= item.id })'">Cài đặt</button>
                    <button class="highlight" onclick="location.href='@Url.Action("Details", new { id = item.id })'">Chi tiết</button>
                    <button class="highlight" onclick="location.href='@Url.Action("Delete", new { id= item.id })'">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
</table>


