@model Fashion_shop.Models.User

@{
    ViewData["Title"] = "Thông tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="css/View/Users/Index.css">
<div class="container">
    <h1 class="text-center mt-5 mb-4">Thông tin khách hàng</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style=" text-align: center;">Chi tiết thông tin </h4>
                    <hr /> 
                    <dl class="row">
                        <dt class="col-sm-3">
                            Name:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-3">
                            Address:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-3">
                            NumberPhone:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                        <dt class="col-sm-3">
                            Date:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Date_of_birth)
                        </dd>
                        <dt class="col-sm-3">
                            Email:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-3">
                            Bank:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Bank)
                        </dd>
                        <dt class="col-sm-3">
                            NumberCard:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.CardNumber)
                        </dd>
                        <dt class="col-sm-3">
                            Gender:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Gender)
                        </dd>
                        <dt class="col-sm-3">
                            UserName:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt class="col-sm-3">
                            Passwork:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 50px;"></div>