@model Fashion_shop.Models.User
@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/View/Users/DetailsUser.css">
</head>
<body>
    <div class="user-info" style="margin-top: 50px;">
        <h2>Thông tin tài khoản</h2>
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Gender:</strong> @Model.Gender</p>
        <p><strong>Date:</strong> @Model.Gender</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Address:</strong> @Model.Address</p>
        <p><strong>PhoneNumber:</strong> @Model.PhoneNumber</p>
        <p><strong>Bank:</strong> @Model.Bank</p>
        <p><strong>CardBank:</strong> @Model.CardNumber</p>
        <p><strong>Username:</strong> @Model.Username</p>
        <!-- Thêm các thông tin khác của người dùng tùy ý -->
    </div>
    <div style="height: 30px"></div>
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>