@model Fashion_shop.Models.Item

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="margin-top: 15px;">Delete</h1>
<div>
    <h1 class="text-center mt-5 mb-4">Thông tin sản phẩm</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style=" text-align: center;">Chi tiết sản phẩm </h4>
                    <hr />
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <img src="~/img_items/@Model.Image" alt="Product Image" class="img-fluid">
                        </div>
                    </div>
                    <dl class="row justify-content-center">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Brand)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Brand)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Gender)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Count)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Count)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-4">
                            Materials
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.A
                        </dd>
                        <dt class="col-sm-4">
                            User Item
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.B
                        </dd>
                        <dt class="col-sm-4">
                            Product Type
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.C
                        </dd>
                    </dl>
                    <form class="text-center mt-5 mb-4" asp-action="Delete">
                        <input type="hidden" asp-for="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
        <form>
            <a asp-action="IndexAd">Back to List</a>
        </form>
    </div>
</div>
