@model Fashion_shop.Models.Item_list

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TL Store - Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet" href="/css/View/Items/Details.css">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
</head>
<body>
    <div style="height: 50px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="~/img_items/@Html.DisplayFor(model => model.item.Image)" alt="Product Image" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div>
                    <h4 style="color: #757575;">@Html.DisplayFor(model => model.item.Name)</h4>
                    <h5 style="font-weight: bold;">@Html.DisplayFor(model => model.item.Price) đ</h5>
                    <hr />
                    <h4>Thông tin sản phẩm</h4>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.item.Brand)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.item.Brand)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.item.Gender)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.item.Gender)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.item.Count)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.item.Count)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.item.Country)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.item.Country)
                        </dd>
                        <dt class="col-sm-4">
                            Materials
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.A
                        </dd>
                        <dt class="col-sm-4">
                            User Item
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.B
                        </dd>
                        <dt class="col-sm-4">
                            Product Type
                        </dt>
                        <dd class="col-sm-8">
                            @ViewBag.C
                        </dd>
                    </dl>
                </div>
                <form asp-action="AddToCart" method="post">
                    <input type="hidden" id="itemId" name="itemId" value="@Model.item.id" />
                    <label for="size">Size:</label>
                    @foreach (var size in Model.sizes)
                    {
<<<<<<< HEAD
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" style="background-color: grey;" type="radio" id="size-@size" name="size" value="@size.id">
                            <label for="size-@size">@size.Name</label>
                        </div>
                    }
                    <div style="height: 10px;"></div>
=======
                        <div class="size-option">
                            <input class="form-check-input" style="background-color: grey;" type="radio" id="sizeId_@size.id" name="sizeId" value="@size.id" required>
                            <label class="form-check-label" for="sizeId_@size.id">@size.Name</label>
                        </div>
                    }
<<<<<<< HEAD
                    <br />
=======
                    <br/>
>>>>>>> c5bde84a032ad2c4d6891752cd7ff14ca878ad53
>>>>>>> b93bc23d432a50c38c94b4402a6e4189ef6bbb74
                    <label for="color">Color:</label>
                    @foreach (var color in Model.colors)
                    {
                        <div class="form-check form-check-inline">
<<<<<<< HEAD
                            <input class="form-check-input" type="radio" id="colorId_@color.id" name="colorId" value="@color.id" required>
                            <label class="form-check-label" for="colorId_@color.id">@color.Name</label>
=======
<<<<<<< HEAD
                            <input class="form-check-input" style="background-color: grey;" type="radio" name="selectedColor" id="color-@color" value="@color.id">
=======
                            <input class="form-check-input" type="radio" name="color" id="color-@color" value="@color.id">
>>>>>>> c5bde84a032ad2c4d6891752cd7ff14ca878ad53
                            <label class="form-check-label" for="color-@color">@color.Name</label>
>>>>>>> b93bc23d432a50c38c94b4402a6e4189ef6bbb74
                        </div>
                    }
                    <div style="height: 50px;"></div>
                    @*Button Add Cart*@
                    <button type="submit" style="background-color: black; color: white; width: 450px; text-align: center; padding: 10px; cursor: pointer; display: inline-block; margin-left: 200px; border: none; border-radius: 5px; font-size: 16px; font-weight: bold; transition: color 0.3s ease;"
                            onmouseover="this.style.backgroundColor='black'; this.style.color='gray';"
                            onmouseout="this.style.backgroundColor='black'; this.style.color='white';"
                            id="AddToCart">
                        Thêm vào giỏ hàng
                    </button>
                </form>
               
            </div>
        </div>
    </div>
    <div style="background-color: black; color: white; border: 2px solid white; padding: 10px; border-radius: 5px; display: inline-block; margin-top: 20px;">
        <a asp-action="Index" style="text-decoration: none;">Back</a>
    </div>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>
