@model IPagedList<Fashion_shop.Models.Item>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Hello";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/View/Items/Index.css">
</head>
<body>
    <div class="row products">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="thumbnail" style="margin-left: 20px;">
                    <a style="text-decoration-line: none;" href="@Url.Action("Details", "Items", new { id = item.id })">
                        <img alt="@item.id" src="~/img_items/@item.Image" width="250" />
                        <div class="item-info">
                            <h5 style="color: black; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: lighter; margin-bottom: 5px;">@item.Name</h5>
                            <h6 style="color: black; text-decoration: none; font-weight: bold; margin: 0; margin-left: 5px;">@item.Price đ</h6>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <!-- Hiển thị phân trang -->
    <div type="hidden" style="font-family: Arial">
        @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    </div>
    <div class="pagination">
        @if (Model.HasPreviousPage)
        {
            <a href="@Url.Action("Index", new { page = 1 })" class="page-link">&lt;&lt;</a>
            <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" class="page-link">&lt;</a>
        }
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.PageNumber)
            {
                <a href="@Url.Action("Index", new { page = i })" class="current-page">@i</a>
            }
            else
            {
                <a href="@Url.Action("Index", new { page = i })" class="page-link">@i</a>
            }
        }
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" class="page-link">&gt;</a>
            <a href="@Url.Action("Index", new { page = Model.PageCount })" class="page-link">&gt;&gt;</a>
        }
    </div>
    <div style="height: 30px"></div>
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    
</body>
</html>
