@model IEnumerable<Fashion_shop.Models.Item>
@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/View/Items/IndexAd.css">
<h1>Thông tin sản phẩm</h1>
<button class="create-button">
    <a asp-action="Create">Thêm sản phẩm</a>
</button>
<div style="height: 5px;"></div>
<table class="table">
    <thead>
        <tr>
            <th style="width:160px"> Name</th>
            <th style="width:160px"> Brand </th>
            <th style="width:160px"> Count </th>
            <th style="width:160px"> Price </th>
            <th style="width:160px"> Custom </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="width:160px">
                    <button class="highlight" onclick="location.href='@Url.Action("Edit", new { id= item.id })'">Edit</button>
                    <button class="highlight" onclick="location.href='@Url.Action("DetailsAd", new { id = item.id })'">Details</button>
                    <button class="highlight" onclick="location.href='@Url.Action("Delete", new { id = item.id })'">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


