@{
    ViewData["Title"] = "Xin chào";
    //Layout = "~/Views/Shared/_Layout.cshtml
    var itemWidth = 100 / 3;
}
@functions {
    public string FormatPrice(decimal price)
    {
        return string.Format("{0:#,##0}", price);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/TLSHOP.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="css/View/Home/Index.css">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>
<body>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="mx-auto ">
                        <div>
                            <img style="" class="img-fluid" src="./img/banner_img_01.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="mx-auto ">
                        <div>
                            <img style="" class="img-fluid" src="./img/banner_img_02.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="mx-auto ">
                        <div>
                            <img style="" class="img-fluid" src="./img/banner_img_03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="mx-auto ">
                        <div>
                            <img style="" class="img-fluid" src="./img/banner_img_04.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured products</h1>
                <p>
                    Chúng tôi luôn cố gắng mang đến cho bạn những sản phẩm, tốt, đẹp, mới nhất <br />
                    Với mức giá cạnh tranh nhất thị trường.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@Url.Action("Index", "Items")"><img src="./img/QuanAo.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Quần áo</h5>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@Url.Action("SearchByCategory","Home", new { category = 16 })"><img src="./img/Giay.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Giày</h2>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@Url.Action("SearchByCategory","Home", new { category = 17 })"><img src="./img/DayNit.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Phụ kiện</h2>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    <!-- Start Featured Product -->
    <section class="bg-light" style="background-color: white">
        <div class="container py-5 bg-white">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1" style="color: white; font-size: 26px; font-weight: bold; background-color: #8B7E66; padding: 15px; border-radius: 10px; ">New Item</h1>
                </div>

            </div>
            <div class="row d-flex flex-wrap" style="margin-left: 160px;">
                @foreach (var item in ViewBag.SeclectItems)
                {
                    <div class="col-sm-3 col-lg-3 col-md-3 col-4" style="width: @itemWidth%;">
                        <div class="thumbnail" style="margin-left: 20px;">
                            <a style="text-decoration-line: none;" href="@Url.Action("Details", "Items", new { id = item.id })">
                                <img alt="@item.id" src="~/img_items/@item.Image" width="400" height="500" />
                                <div class="item-info">
                                    <h5 style="color: black; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: lighter; margin-bottom: 5px;">@item.Name</h5>
                                    <h6 style="color: black; text-decoration: none; font-weight: bold; margin: 0; margin-left: 5px;">@FormatPrice(item.Price)đ</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
    <!-- End Featured Product -->
    <!-- End Banner Hero -->
    <!-- End Featured Product -->
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>
</html>