@model List<Fashion_shop.Models.Item>
@{
    ViewData["Title"] = "Tìm kiếm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seach</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/View/Items/Index.css">
</head>
<body>
    @if (Model.Count > 0)
    {
        <p style="margin-left: 50px;"> Có @Model.Count sản phẩm.</p>
        <div class="row products">
            @foreach (var item in Model)
            {
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail" style="margin-left: 20px;">
                        <a style="text-decoration-line: none;" href="@Url.Action("Details", "Items", new { id = item.id })">
                            <img alt="@item.id" src="~/img_items/@item.Image" width="250" />
                            <div class="item-info">
                                <h5 style="color: black; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: lighter; margin-bottom: 5px;">@item.Name</h5>
                                <h6 style="color: black; text-decoration: none; font-weight: bold; margin: 0; margin-left: 5px;">@string.Format("{0:N0}", item.Price)vnd</h6>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Không có sản phẩm phù hợp.</p>
    }
    <div style="height: 30px"></div>
</body>
</html>