@model List<Fashion_shop.Models.Cart_Details>
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/css/View/Bill/IndexCus.css")">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="abc@gmail.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <div style="height: 100px;"></div>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col" style="text-align: center; margin-top:30px;"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">1 items</div>
                    </div>
                </div>
                
                @foreach( var item in Model)
                {
                    var uniqueId = "item_" + item.Id_Details_Item; // Create a unique identifier
                    <!--  1 ITEM      -->
                   
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center" style="margin-left: 10px;">
                            <div class="col-2"><img class="img-fluid" src="~/img_items/@item.Image"></div>
                            <div class="col">
                                <div class="row text-muted">@item.ItemName </div>
                                <div class="row"> Color: @item.ColorName - Size: @item.SizeName</div><!-- NAME   -->
                            </div>
                            <div class="col">
                                    <!-- Thay method="get" thành method="post" -->
                                <form id="form_@uniqueId" asp-action="UpdateCount" method="post">
                                    <button type="button" onclick="decrease('@uniqueId')" style="color: black;">-</button>
                                    <input id="count_@uniqueId" name="count" type="hidden" value="@item.Count" />
                                    <input id="bill_id" name="bill_id" type="hidden" value="@item.Id" />
                                    <input id="item_details_id" name="item_details_id" type="hidden" value="@item.Id_Details_Item" />
                                    <a href="#" class="border">@item.Count</a>
                                    <button type="button" onclick="increase('@uniqueId')" style="color: black;">+</button>
                                </form>
                            </div>
                            <div class="col">@item.Total vnd <span class="close">&#10005;</span></div><!-- PRICE   -->
                        </div>
                    </div>
                    <!--  END OF 1 ITEM  -->
                }
                
                <div class="back-to-shop"><a href="@Url.Action("Index","Items")" style="color: black;">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                @*<div><h5><b>Summary</b></h5></div>
                <hr>
                @foreach( var item in Model)
                {
                    <!-- Sumary of 1 item  -->
                    <div class="row">
                        <div class="col" style="padding-left:10px;">@item.ItemName</div>
                        <div class="col text-right">@item.Total vnd</div>
                    </div>
                    <!-- End of sumary of 1 item  -->
                }*@
                
                <form>
                    <p>SHIPPING</p>
                    <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">@ViewBag.Total vnd</div>
                </div>
                <button class="btn">CHECKOUT</button>
            </div>
        </div>
    </div>
    <!-- End Featured Product -->
    <!-- Start Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- End Script -->
  @*  <script>
        function decrease(uniqueId) {
            var countInput = document.getElementById("count_" + uniqueId);
            var currentCount = parseInt(countInput.value);
            currentCount = Math.max(0, currentCount - 1);
            countInput.value = currentCount;

            sendUpdateToServer(uniqueId, currentCount);
        }

        function increase(uniqueId) {
            var countInput = document.getElementById("count_" + uniqueId);
            var currentCount = parseInt(countInput.value);
            currentCount = currentCount + 1;
            countInput.value = currentCount;

            sendUpdateToServer(uniqueId, currentCount);
        }

        function sendUpdateToServer(uniqueId, newCount) {
            var formData = new FormData();
            formData.append("count", newCount);
            formData.append("bill_id", uniqueId);
            formData.append("item_details_id", uniqueId);

            fetch("/Bills/UpdateCount", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => handleUpdateResponse(data))
                .catch(error => handleError(error));
        }

        function handleUpdateResponse(data) {
            if (data.success) {
                updateCartContent();
            } else {
                showError(data.message);
            }
        }

        function updateCartContent() {
            // Define this function to update the cart content on the page
            // You can use AJAX to fetch the updated cart data or manipulate the DOM directly
        }

        function showError(message) {
            // Define this function to show an error message to the user
            // You can use an alert, a modal, or update an error message element on the page
        }

        function handleError(error) {
            // Define this function to handle errors that occur during the AJAX request
            // You can log the error or show a generic error message
        }
    </script>*@



</body>

</html>