@model List<Fashion_shop.Models.Cart_Details>
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/css/View/Bill/IndexCus.css")">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="abc@gmail.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->
    <div style="height: 100px;"></div>
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col" style="text-align: center; margin-top:30px;"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">1 items</div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                var uniqueId = "item_" + item.Id_Details_Item; // Create a unique identifier
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center" style="margin-left: 10px;">
                        <div class="col-2"><img class="img-fluid" src="~/img_items/@item.Image"></div>
                        <div class="col">
                            <div class="row text-muted">@item.ItemName </div>
                            <div class="row"> Color: @item.ColorName - Size: @item.SizeName</div><!-- NAME   -->
                        </div>
                        <div class="col">
                            <!-- Thay method="get" thành method="post" -->
                                <form id="form_@uniqueId" method="post">
                                    <button type="button" onclick="decrease('@uniqueId')" style="color: black;">-</button>
                                    <input id="count_@uniqueId" name="count" type="hidden" value="@item.Count" />
                                    <input id="bill_id_@uniqueId" name="bill_id" type="hidden" value="@item.Id" />
                                    <input id="item_details_id_@uniqueId" name="item_details_id" type="hidden" value="@item.Id_Details_Item" />
                                    <input id="price_@uniqueId" name="price" type="hidden" value="@item.Price" /> <!-- Add this line -->
                                    <a href="#" class="border" id="countDisplay_@uniqueId">@item.Count</a>
                                    <button type="button" onclick="increase('@uniqueId')" style="color: black;">+</button>
                                </form>
                                </div>
                            <div class="col" id="total_@uniqueId">
                                @(item.Total.ToString("N0")) vnd
                                <span class="close">&#10005;</span>
                            </div>
                    </div>
                </div>
                }
                
                <div class="back-to-shop"><a href="@Url.Action("Index","Items")" style="color: black;">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                @*<div><h5><b>Summary</b></h5></div>
                <hr>
                @foreach( var item in Model)
                {
                    <!-- Sumary of 1 item  -->
                    <div class="row">
                        <div class="col" style="padding-left:10px;">@item.ItemName</div>
                        <div class="col text-right">@item.Total vnd</div>
                    </div>
                    <!-- End of sumary of 1 item  -->
                }*@
                
                <form>
                    <p>SHIPPING</p>
                    <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right" id="summaryTotal">@string.Format("{0:N0}", ViewBag.Total)vnd </div>
                </div>
                <form asp-action="PayMent" method="post">
                <button type="submit" class="btn">Thanh toán</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Featured Product -->
    <!-- Start Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- End Script -->
    <script>
        @*function updateSummaryTotal() {
            var itemTotalElements = document.querySelectorAll("[id^='total_']");
            var summaryTotal = 0;

            itemTotalElements.forEach(function (itemTotalElement) {
                var totalText = itemTotalElement.textContent;
                var totalValue = parseFloat(totalText.split(" ")[0].replace(/,/g, ""));
                summaryTotal += totalValue;
            });

            var summaryTotalElement = document.getElementById("summaryTotal");
            summaryTotalElement.textContent = "Total: " + summaryTotal.toLocaleString() + " vnd";
        }
        function PayMent(){
                $.ajax({
                    type: "POST",
                    url: "/Bills/PayMent",
                    data: {
                    },
                    success: function (response) {
                        if (response.success) {
                            console.log("Bill updated in the database.");
                            //@ViewBag.Total = updatedSummaryTotal;
                        } else {
                            console.error("Error during transaction");
                        }
                    },
                    error: function (error) {
                        console.error("Error during transaction:", error);
                    }
                });
            }*@      
            function calculateSummaryTotal() {
                var summaryTotal = 0;
                var itemTotalElements = document.querySelectorAll("[id^='total_']");

                itemTotalElements.forEach(function (itemTotalElement) {
                    var totalText = itemTotalElement.textContent;
                    // Remove " vnd" from the totalText before extracting the numeric value
                    var numericPart = totalText.replace("vnd", "");
                    var totalValue = parseFloat(numericPart.replace(/,/g, ""));
                    summaryTotal += totalValue;
                });

                return summaryTotal;
            }
            function updateSummaryTotalDisplay() {
                var summaryTotalElement = document.getElementById("summaryTotal");
                var summaryTotal = calculateSummaryTotal();

            summaryTotalElement.textContent = summaryTotal.toLocaleString() + "vnd";
            }
        function updateTotalDisplay(uniqueId) {
            var countInput = document.getElementById("count_" + uniqueId);
            var totalDiv = document.getElementById("total_" + uniqueId);
            var priceInput = document.getElementById("price_" + uniqueId);

            var currentCount = parseInt(countInput.value);
            var itemPrice = parseInt(priceInput.value);
            var total = currentCount * itemPrice;

            // Preserve the content of the span element
            var closeSymbol = totalDiv.querySelector(".close").outerHTML;

            totalDiv.innerHTML = total.toLocaleString() + " vnd " + closeSymbol;

            var billId = parseInt(document.getElementById("bill_id_" + uniqueId).value);
            var itemDetailsId = parseInt(document.getElementById("item_details_id_" + uniqueId).value);
                updateSummaryTotalDisplay();
            @*var summaryTotal = document.getElementById("summaryTotal");
            @{
                var total = 0;
                foreach (var item in Model)
                {
                    total += item.Total;
                }
            }
                    totalValueSpan.textContent = @total.ToString("N0");*@
            //updateSummaryTotal();
            //var updatedSummaryTotal = parseFloat(document.getElementById("summaryTotal").textContent.split(" ")[1].replace(/,/g, ""));

            // Send an AJAX request to update the count in the database
            $.ajax({
                type: "POST",
                url: "/Bills/UpdateCount",
                data: {
                    count: currentCount,
                    bill_id: billId,
                    item_details_id: itemDetailsId
                },
                success: function (response) {
                    if (response.success) {
                        console.log("Count updated in the database.");
                        //@ViewBag.Total = updatedSummaryTotal;
                    } else {
                        console.error("Error updating count.");
                    }
                },
                error: function (error) {
                    console.error("Error updating count:", error);
                }
            });
           
        }

        function decrease(uniqueId) {
            var countInput = document.getElementById("count_" + uniqueId);
            var countDisplay = document.getElementById("countDisplay_" + uniqueId);

            var currentCount = parseInt(countInput.value);
            if (currentCount > 1) {
                currentCount--;
                countInput.value = currentCount;
                countDisplay.textContent = currentCount;
                updateTotalDisplay(uniqueId);
            }
        }

        function increase(uniqueId) {
            var countInput = document.getElementById("count_" + uniqueId);
            var countDisplay = document.getElementById("countDisplay_" + uniqueId);

            var currentCount = parseInt(countInput.value);
            currentCount++;
            countInput.value = currentCount;
            countDisplay.textContent = currentCount;
            updateTotalDisplay(uniqueId);
        }
    </script>




</body>

</html>