@model List<Fashion_shop.Models.Cart_Details>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/View/Items/Index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="apple-touch-icon" href="~/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/TLSHOP.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/css/View/Home/Index.css">
    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Chi tiết đơn hàng</h1>
        <div class="card bg-white mb-4">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col align-self-center text-right text-muted" style="margin-right: 10px;">@Model.Count Items</div>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        var uniqueId = "item_" + item.Id_Details_Item;
                        <div id="@uniqueId" class="row p-3">
                            <div class="col-2">
                                <img class="img-fluid product-image" src="~/img_items/@item.Image" alt="@item.ItemName">
                            </div>
                            <div class="col">
                                <div class="row text-muted">@item.ItemName</div>
                                <div class="row">Color: @item.ColorName - Size: @item.SizeName</div>
                            </div>
                            <div class="col">
                                <form id="form_@uniqueId" method="post">
                                    @*<button type="button" onclick="decrease('@uniqueId')" class="btn btn-dark btn-counter">-</button>*@
                                    <input id="count_@uniqueId" name="count" type="hidden" value="@item.Count" />
                                    <input id="bill_id_@uniqueId" name="bill_id" type="hidden" value="@item.Id" />
                                    <input id="item_details_id_@uniqueId" name="item_details_id" type="hidden" value="@item.Id_Details_Item" />
                                    <input id="price_@uniqueId" name="price" type="hidden" value="@item.Price" />
                                    <a href="#" class="border btn btn-light btn-counter" id="countDisplay_@uniqueId">@item.Count</a>
                                    @*<button type="button" onclick="increase('@uniqueId')" class="btn btn-dark btn-counter">+</button>*@
                                </form>
                            </div>
                            <div class="col total-price" id="total_@uniqueId">
                                @(item.Total.ToString("N0")) vnd
                                @*<button onclick="removeCartItem('@item.Id_Details_Item')" class="close">&times;</button>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card">
            <div style="margin-left: 10px;">
                <div>Thông tin người đặt</div>
                @ViewBag.UserName
                <br />
                @ViewBag.SDT
                <br />
                @ViewBag.Address
            </div>
            <div class="row">
                <div class="col-md-8 cart"></div>
                <div class="col-md-4 summary">
                    <form asp-action="PayMent" method="post">
                        <div class="row p-3">
                            <div class="col">TỔNG GIÁ</div>
                            <div class="col text-right total-price" id="summaryTotal">@string.Format("{0:N0}", ViewBag.Total) vnd</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: black; color: white; border: 2px solid white; padding: 10px; border-radius: 5px; display: inline-block; margin-top: 20px;">
        <a asp-controller="Bills" asp-action="History" style="text-decoration: none;">Back to Shop</a>
    </div>
    <div style="height: 50px;"></div>
    <!-- End Featured Product -->
    <!-- Start Script -->
    <!-- Start Script -->
    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/templatemo.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- End Script -->
</body>
</html>